
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import './var.scss';
@import './reset.scss';

body {
  font-size: 16px;
  line-height: 1.5;
  color: $color-black;
  font-family: 'Pretendard';
}
a, button {
  color: $color-black;
}