@mixin flexBox($al:center, $jc:center) {
  display: flex;
  align-items: $al;
  justify-content: $jc;
}

@mixin pc {
  @media screen and (min-width: ($mobile-width + 1)) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-width) {
    @content;
  }
}