$column-gap: 30px;
.wrap-list-post {
  max-width: 980px;
  margin: 0 auto;
}
.list-post {
}
.post {
  &:nth-child(n+2) {
    border-top: 1px solid var(--line-light-gray);
  }
  > .link-post {
    display: block;
    height: 100%;
    padding: 40px 30px;
    transition: 0.2s;
    &:hover {
      background-color: var(--bg-gray);
    }
  }
  .title {
    word-break: keep-all;
    font-size: 1.5em;
    > .title-text {
      font-weight: 500;
      color: var(--color-black);
    }
    @include mobile {
      height: auto;
      padding: 15px;
      font-size: 1.2em;
      > .title-text {
        :deep(br) {
          display: none;
        }
      }
    }
  }
  .wrap-info {
    margin-top: 15px;
    @include mobile {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  .description {
    font-size: 0.95em;
  }
  .date {
    margin-bottom: 10px;
    font-size: 0.8em;
    line-height: 1;
    color: var(--text-light-gray);
  }
  .keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
    margin-top: 20px;
    .keyword {
      padding: 0.3em 0.4em;
      font-size: 0.8em;
      background-color: var(--bg-gray);
      border-radius: 5px;
      line-height: 1;
    }
  }
}