$main-color: rgb(85, 55, 194);
$sub-color: darkseagreen;
$gray: #999;
$dark-gray: rgb(104, 104, 108);
/* common style */
.dot-point {
  color: $sub-color;
  font-size: 1.2em;
  line-height: 0;
}
.badge {
  display: inline-block;
  padding: 3px 5px 4px 4px;
  background-color: rgb(234, 234, 238);
  font-size: 0.85em;
  text-align: center;
  line-height: 1;
  border-radius: 6px;
  &:not(:last-child),
  &:first-child:last-child {
    margin-right: 6px;
  }
  &.dark {
    padding: 3px 5px 4px 4px;
    background-color: $dark-gray;
    font-size: 0.8em;
    color: #fff;
  }
  &.point {
    background-color: $main-color;
    color: #fff;
  }
  &.line {
    padding: 2px 4px 3px;
    background-color: transparent;
    border: 1px solid gray;
  }
}
:not(.badge) + .badge {
  margin-left: 6px;
}
[class*="bg-"] {
  &.bg-main {
    background-color: $main-color;
    color: #fff;
  }
  &.light-1 {
    opacity: .7;
  }
  &.light-2 {
    opacity: .3;
  }
}
/* common - text */
.text-gray {
  color: $gray
}
h2 {
  font-size: 3em;
  letter-spacing: 0;
  & + .row {
    margin-top: 20px;
  }
}
h3 {
  font-size: 1.8em;
  word-break: keep-all;
}
h4 {
  font-size: 1.7em;
  font-weight: normal;
}
.links-inline {
  display: inline;
  font-size: 0.9em;
  color: $gray;
  a {
    word-break: keep-all;
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}
/* layout */
.bar-point {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, $main-color, rgb(201, 218, 201));
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 80px 20px;
  &-top {
    p:nth-child(n+2) {
      margin-top: 2em;
    }
  }
}
.section {
  &:not(:first-child) {
    margin-top: 90px;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    & + * {
      margin-top: 40px;
    }
  }
}
.wrap-company {
  display: flex;
  & + .wrap-company {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #e7ece7;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background: linear-gradient(to left, #5537c2, #c9dac9);
      transform: translateY(-50%);
      content: '';
    }
  }
  .col-title {
    align-self: flex-start;
    position: sticky;
    top: 50px;
    & + .col:last-child {
      flex: 1;
    }
  }
}
.wrap-projects {
  flex: 1;
  padding-top: 5px;
  .row {
    padding-left: 30px;
  }
  .area-title {
    margin-bottom: 8px;
  }
}
.section.education {
  h3 {
    font-size: 1.4em;
  }
}
/* row */
.row {
  display: flex;
  & + .row {
    margin-top: 30px;
    padding-top: 25px;
    border-top: 1px solid rgb(231, 236, 231);
  }
}
/* col */
.col {
  &-title {
    width: 300px;
    margin-right: 120px;
    word-break: keep-all;
    & + .col:last-child {
      flex: 1;
    }
  }
}

/* list  */
[class*="list-col-"] {
  display: flex;
  flex-wrap: wrap;
  & > li {
    padding-right: 12px;
  }
}
.list {
  &-dot {
    &:not(:first-child) {
      margin-top: 8px;
    }
    > li {
      position: relative;
      margin-top: 5px;
      padding-left: 0.9em;
      &::before {
        display: block;
        position: absolute;
        top: 0;
        left:0;
        margin-right: 5px;
        color: $sub-color;
        border-radius: 3px;
        content: '•';
      }
    }
  }
  &-col {
    &-4 {
      row-gap: 10px;
      > li {
        width: 25%;
      }
    }
    &-right {
      justify-content: flex-end;
    }
  }
  &-badge {
    &:nth-child(n+2) {
      margin-top: 8px;
    }
    .badge {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
}

.more-hover {
  cursor: pointer;
  span {
    display: inline-block;
  }
  & .area-view-more {
    display: none;
  }
  &:hover .area-view-more {
    display: block;
  }
}

.job-position {
  color: $gray;
  font-size: 0.95em;
  font-style: italic;
}