$main-color: rgb(85, 55, 194);
$sub-color: darkseagreen;
$gray: #888;
$dark-gray: rgb(104, 104, 108);
/* common style */
.dot-point {
  color: $sub-color;
  font-size: 1.2em;
  line-height: 0;
}
.badge {
  display: inline-block;
  padding: 4px 5px 4px 4px;
  background-color: rgb(234, 234, 238);
  font-size: 0.85em;
  text-align: center;
  line-height: 1;
  border-radius: 6px;
  &:not(:last-child),
  &:first-child:last-child {
    margin-right: 6px;
  }
  &.dark {
    background-color: $dark-gray;
    font-size: 0.8em;
    color: #fff;
  }
  &.point {
    background-color: $main-color;
    color: #fff;
  }
  &.line {
    padding: 2px 4px 3px;
    background-color: transparent;
    border: 1px solid gray;
  }
}
:not(.badge) + .badge {
  margin-left: 6px;
}
[class*="bg-"] {
  &.bg-main {
    background-color: $main-color;
    color: #fff;
  }
  &.light-1 {
    opacity: .7;
  }
  &.light-2 {
    opacity: .3;
  }
}
/* common - text */
.text-gray {
  color: $gray
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 3em;
  letter-spacing: 0;
  & + .row {
    margin-top: 20px;
  }
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.7em;
  font-weight: normal;
}
.weight-normal {
  font-weight: normal;
}
.smaller {
  &-1 {
    font-size: 0.6em;
  }
}
.links-inline {
  display: inline;
  font-size: 0.9em;
  color: $gray;
  a {
    &:not(:last-child) {
      margin-right: 4px;
    }
  }
}
/* layout */
.bar-point {
  // position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, $main-color, rgb(201, 218, 201));
}
.container {
  width: 850px;
  margin: 0 auto;
  padding: 40px 30px 80px;
  word-break: keep-all;
  &-top {
    .wrap-title {
      display: flex;
      .wrap-image {
        overflow: hidden;
        width: 350px;
        height: 250px;
        max-height: 100%;
        margin-right: 20px;
        img {
          max-width: 120%;
          margin-left: -10%;
          // max-width: 200%;
          // margin-top: -90%;
          // margin-left: -50%;
        }
      }
      h1 {
        flex: 1;
      }
      & + .wrap-contents {
        margin-top: 20px;
      }
    }
    .wrap-text {
      > * {
        margin-top: 1em;
      }
    }
  }
}
.list-icon {
  display: flex;
  justify-content: flex-end;
  margin-right: -6px;
  > li {
    padding: 10px 10px;
    transform: rotate(-15deg);
    a {
      color: $main-color;
      font-size: 16px;
      letter-spacing: 0.01em;
      font-weight: bold;
      svg {
        height: 22px;
        path {
          // fill: #999
        }
      }
    }
  }
}
.section {
  &:not(:first-child) {
    margin-top: 80px;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & + * {
      margin-top: 40px;
    }
    .wrap-title {
      display: flex;
      align-items: center;
      .badge {
        margin-left: 20px;
      }
    }
  }
}
.wrap-company {
  display: flex;
  justify-content: space-between;
  & + .wrap-company {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #e7ece7;
  }
  .col-title {
    top: 50px;
    & + .col:last-child {
      flex: 1;
    }
  }
}
.wrap-row {
  flex: 1;
  padding-top: 5px;
  .area-title {
    margin-bottom: 8px;
  }
}
.section.education {
  h3 {
    font-size: 1.4em;
  }
}
/* row */
.row {
  display: flex;
  & + .row {
    margin-top: 30px;
    padding-top: 25px;
    border-top: 1px solid rgb(231, 236, 231);
  }
}
/* col */
.col {
  > img {
    max-width: 100%;
  }
  &-title {
    width: 220px;
    margin-right: 50px;
    & + .col:last-child {
      flex: 1;
    }
    &.sticky {
      align-self: flex-start;
      position: sticky;
    }
    &.size-s-1 {
      width: 160px;
    }
  }
}

/* list  */
[class*="list-col-"] {
  display: flex;
  flex-wrap: wrap;
  & > li {
    padding-right: 12px;
  }
}
.list {
  &-bullet {
    &:nth-child(n+2) {
      margin-top: 5px;
    }
    .list-bullet {
      margin-top: 0;
      margin-bottom: 5px;
    }
    > li {
      position: relative;
      margin-top: 1px;
      padding-left: 0.9em;
      &::before {
        display: block;
        position: absolute;
        top: 0;
        left:0;
        margin-right: 5px;
        border-radius: 3px;
      }
    }
    &.dot {
      > li {
        &::before {
          color: $sub-color;
          content: '•';
        }
      }
    }
    &.hyphen {
      > li {
        &::before {
          content: '-';
        }
      }
    }
  }
  &-col {
    &-4 {
      row-gap: 10px;
      > li {
        width: 25%;
      }
    }
    &-right {
      justify-content: flex-end;
    }
  }
  &-badge {
    &:nth-child(n+2) {
      margin-top: 5px;
    }
    .badge {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
}

.more-hover {
  cursor: pointer;
  span {
    display: inline-block;
  }
  & .area-view-more {
    display: none;
  }
  &:hover .area-view-more {
    display: block;
  }
}

.job-position {
  color: $gray;
  font-size: 0.95em;
  font-style: italic;
}