// layout
$mobile-width: 768px;
$container-padding-x-pc: 50px;
$container-padding-x-m: 20px;

// color
$color-black: #000;

$bg-gray: #eee;
$bg-light-gray: #f6f6f6;
$line-gray: #ccc;
$line-light-gray: #eee;
$text-gray: #777;
$text-light-gray: #999;

$color-point: rgb(111, 0, 255);
$color-point-2: rgb(43, 144, 202);